bucket     = "terraform"
key        = "Your_Project_Name/terraform.tfstate"
endpoints  = { s3 = "https://Your_Cloudflare_Account_ID.r2.cloudflarestorage.com" }
access_key = "Your_Cloudflare_R2_Access_Key"
secret_key = "Your_Cloudflare_R2_Secret_Key"