email      = "Your@Email"
api_key    = "Your_Cloudflare_Global_Api_Key"
account_id = "Your_Cloudflare_Account_ID"

project_name = "Your_Project_Name"
source_owner = "Your_Source_Owner"
source_repo  = "Your_Source_Repo"