email      = "Your@Email"
api_key    = "Your-Cloudflare-Global-Api-Key"
account_id = "Your-Cloudflare-Account-ID"

project_name = "Your-Project-Name"
source_owner = "Your-Source-Owner"
source_repo  = "Your-Source-Repo"